body { font-family: Verdana, sans-serif; }

main {display: flex; flex-direction: column; width:50vw; }

table { float: left; border: 1px solid blue; }

td { padding: 15px; border-bottom: 1px solid #ddd; text-align: left; }

tr:hover { background-color: yellow; }

th { background-color: #04AA6D; color: white; height: 2rem; }

form { margin:20px }

.add-contact-but {
    align-items: center;
    background-color: blue;
    color: white;
    margin-bottom: 15px;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label input {
    margin-top: 1rem;
    height: 2rem;
    width: 100%;
}

.send-but {
    margin-top: 1rem;
    color: white;
    background-color: blue;
    height: 2rem;
}